test
 <ion-nav-bar class="bar-royal bar" align-title="center">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
  </ion-nav-bar>

<ion-view title="O aplikaci">
<ion-content overflow-scroll="true" padding="true" class="has-header">

<ion-list>
<ion-item class="item-icon-left"><i class="icon ion-ios-information"></i>verze 0.4.0</ion-item>
<ion-item ng-click="email('jiri.vosecek@gmail.com')" class="item-icon-left"><i class="icon ion-at"></i>jiri.vosecek@gmail.com</ion-item>
</ion-list>


<div class="list card">
  <div class="item item-body">
Aplikace funguje zatím pouze na týmy umístěné na placeném serveru tymy.cz, více informací o placeném serveru na <a href="mailto:admin@tymy.cz">admin@tymy.cz</a>
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>Verze 0.4.0</h2>
    <p>3.3.2016</p>
  </div>

  <div class="item item-body">
    Přepracování ovládání na záložky namísto menu
  </div>
</div>

<div class="list card">
  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>Verze 0.3.4</h2>
    <p>25.2.2016</p>
  </div>

  <div class="item item-body">
    Beta verze aplikace, určena pro uživatelské testování v rámci frisbee komunity.
  </div>
</div>

</ion-content>
</ion-view>