<ion-view>
    <ion-nav-buttons>
        <a ng-if="showDashboard" class="button button-clear icon ion-android-arrow-back" href="#/tab/dashboard"></a>
        <a ng-if="showDashboard" class="button button-clear icon ion-ios-list-outline" href="#/tab/discussions"></a>
    </ion-nav-buttons>
    <ion-nav-title>{{data.caption}}</ion-nav-title>
    <ion-content class="padding">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>
        <form class="list" ng-if="discussion.canWrite === true">
            <label class="item item-input" name="comment">
                <textarea style="max-height:45vh;" id="comment" msd-elastic ng-model="form.comment" placeholder="Nový příspěvek"></textarea>
            </label>
            <button ng-disabled="form.comment.length < 1" class="button button-block button-small button-positive" ng-click="post()">Vložit</button>
        </form>
        <div class="list card" ng-repeat="post in posts">
            <div class="item item-divider" ng-click="copy(post)">
                {{post.createdBy.callName}}, {{post.createdAtStr}}
                <span href="#" class="item-icon-right">
            <i class="icon ion-ios-copy-outline"></i>
        </span>
            </div>
            <div class="item item-body" ng-class="setClass(post.sticky)">
                <div ng-bind-html="renderHtml(post.post)">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
