<ion-view title="{{'discussions.title'|translate}}">
  <ion-content>
  <ion-refresher pulling-text="{{'general.refresher'|translate}}" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list can-swipe="true">
      <ion-item class="" ng-repeat="discussion in discussions | orderBy:'order'" type="item-text-wrap" href="#/tab/discussions/{{discussion.id}}" detail-push>
        <h2>{{discussion.caption}}</h2>
        <span ng-if="discussion.newPosts>0" class="badge badge-assertive">{{discussion.newPosts}}</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
