<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-search" ng-click="showSearch()"></button>
    </ion-nav-buttons>
    <ion-nav-title>{{data.discussion.caption}}</ion-nav-title>
    <div class='discussion-post'>
        <ion-content class="padding">
            <form class="list" ng-if="discussion.canWrite === true">
                <label class="item item-input" name="comment">
                    <textarea style="max-height:45vh;" id="comment" msd-elastic ng-model="form.comment" translate translate-attr-placeholder="{{placeholder}}" translate-value-browser="{{discussion.form.placeholder}}"></textarea>
                </label>
                <button ng-disabled="form.comment.length < 1" class="button button-block button-small button-positive" ng-click="post()" translate>{{'discussion.form.newPost'}}</button>
            </form>
            <div ng-if='search.string.length>0' class='text-center searchResult'>
                <button class='button button-small button-assertive icon-left ion-trash-a' ng-click="resetLookup()"><span translate>{{'discussion.search.reset'}}</span></button>
                <div class=''><span translate>{{'discussion.search.resultFor'}}:</span>&nbsp;<b>{{search.string}}</b> </div>
            </div>
            <div class="list card" ng-repeat="post in posts">
                <div class="item item-divider" ng-click="copy(post)" ng-class="setClassHeader(post)">
                    <img ng-src='{{serverUrl}}{{post.createdBy.pictureUrl}}' class='thumb'> {{post.createdBy.callName}}, {{post.createdAtStr}}
                    <span href="#" class="item-icon-right">
                <i class="icon ion-ios-copy-outline"></i>
            </span>
                </div>
                <div class="item item-body" ng-class="setClass(post.sticky)">
                    <div class='post-detail' ng-bind-html="post.post">
                    </div>
                </div>
            </div>
            <ion-infinite-scroll on-infinite="loadMoreNews()" ng-if="moreDataCanBeLoaded()">
            </ion-infinite-scroll>
        </ion-content>
    </div>
</ion-view>
