<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="{{'dashboard.title'|translate}}" badge="$storage.totalNewPosts" badge-style="badge-assertive" icon="ion-home" href="#/tab/dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'discussions.title'|translate}}" badge="$storage.serverNewPosts" badge-style="badge-assertive" icon="ion-chatboxes" href="#/tab/discussions">
    <ion-nav-view name="tab-discussions"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'events.title'|translate}}" icon="ion-android-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="{{'team.title'|translate}}" icon="ion-ios-people" href="#/tab/team">
    <ion-nav-view name="tab-team"></ion-nav-view>
  </ion-tab>


</ion-tabs>