<ion-modal-view>
    <ion-header-bar>
        <a class="button button-clear icon ion-android-arrow-back" ng-click="closeModal()">
        </a>
        <h1 class="title">
            {{data.url}}
        </h1>
        <a class="button button-clear icon ion-trash-a button-assertive" ng-click="dropTeam(data)">
        </a>
    </ion-header-bar>
    <ion-content>
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label" translate>
                        {{'user.teamData.address'}}
                    </span>
                    <input ng-model='data.url' type="text" ng-readonly="true" />
                </label>
                <label class="item item-input">
                    <span class="input-label" translate>
                        {{'user.teamData.callName'}}
                    </span>
                    <input ng-model='data.callName' type="text" />
                </label>
                <label class="item item-input">
                    <span class="input-label" translate>
                        {{'user.teamData.username'}}
                    </span>
                    <input ng-model='data.user' type="text" />
                </label>
                <label class="item item-input">
                    <span class="input-label" translate>
                        {{'user.teamData.newPassword'}}
                    </span>
                    <input ng-model='data.password' type="password"  />
                </label>
                <ion-toggle ng-model="data.autoLogin" toggle-class="toggle-calm">
                    <span translate>{{'user.teamData.autoLogin'}}</span>
                </ion-toggle>
            </ion-list>
            <div class="spacer" style="height: 40px;">
            </div>
            <div class='padding'>
            <button class="button button-block icon ionn-save-a button-positive" ng-click="saveData()">
                <span translate>{{'user.teamData.button'}}</span>
            </button>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
