/* Empty. Add your own CSS if you like */

.center {
    text-align: center;
}

.listSpinner {
    text-align: center;
    padding: 1em;
}

.fr {
    float: right;
}

.displayName {
    text-align: center;
}

.userImage {
    padding: .3em;
    display: block;
    box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.lastLogin {
    text-align: center;
    font-size: smaller;
    color: #888;
    margin-bottom: 1em;
}

.discussion-list .discussion-item {
    font-size: 85%;
    line-height: 1.3em;
}

.discussion-list .discussion-item {
  padding: 5px 10px;
}

.discussion-list .post-detail {
  padding: 10px;
  white-space: normal;
}

.discussion-list .item-content {
  padding: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.discussion-list .sticky {
  border-color: #ff6a00;
}

.discussion-list .sticky .item-content {
  background-color: #ffd800;
}

.discussion-list .card {
  padding: 0px;
}

.discussion-list .author h2:after {
  content: "👱";
  float: right;
}


.collapsed {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2em;
  line-height: 2em;
}
